.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 3% 6%;
    color: rgb(93, 88, 88);
}

.section {
    margin: 1% 6%;
    color: rgb(93, 88, 88);
    width: 88%;
    border: 1px solid rgb(218, 218, 218);
}

.title {
    text-align: center;
    margin: 1% 0%;
    font-size: 18px;
    font-weight: 300;
}

.devis {
    margin: 2% 2%;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
    padding: 2px;
}



.find_old {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-top:1%;
}

.message {
    width: 88.1%;
    margin-left: 6%;
    height: 40px;;
}

