.container {
    display: flex;
    width: 88%;
    margin-left: 6%;
    margin-top: 3%;
    justify-content: space-between;
    color: rgb(93, 88, 88);
    font-size: 17px;
}

.profil_pic {
    height: 340px;
    width: 20%;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
}

.parag_un {
    width: 70%;
}

a {
    color: black;
}


@media screen and (max-width: 800px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .profil_pic {
        width: 100%;
    }
    .parag_un {
        width: 90%;
    }
}