.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0% 4% 0% 4%;
    padding-left: 4%;
    width: 92%;
}

.filter {
    display: flex;
    margin: 1%;
}

.search {
    width: 92%;
    margin: 0% 2% 0% 6%;
    color: rgb(93, 88, 88);
}
.label {
    width: 8%;
    padding: 2px 2px 2px 2px;
}

.label:hover {
    color: black;
    cursor: pointer;
}

.filter_btn {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.button {
    border: 1px solid rgb(223, 223, 223);
    background-color: white;
    color: rgb(93, 88, 88);
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
    font-size: 15px;
}

.button:hover {
    border: 1px solid black;
    cursor: pointer;
}

.confirm {
    display: flex;
    justify-content: flex-end;
    width: 7%;
}

@media screen and (max-width: 800px) {

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}