.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0% 4% 0% 4%;
    width: 92%;
}

@media screen and (max-width: 800px) {

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}