/**/

.wrapper {
    z-index: 100;
    /* position: fixed; */
}
/*positionner le logo au centre*/
.navbar {
    display: flex;
    justify-content: center;
}

/*dimensionner le logo*/
.logo {
    margin-top: 20px;
    height: 200px;
    width: 280px;
}

/*ordonner la navbar et définir les bordures*/
.container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-top: 1px solid rgb(227, 226, 226);
    border-bottom: 1px solid rgb(221, 198, 154);
    border-top: 1px solid rgb(221, 198, 154);
    margin: 20px 120px;
    padding-right: 16px;
    padding-left: 16px;
}

/*enlever la décoration des liens*/
a {
    text-decoration: none;
}

/*styliser les boutons*/
.btn {
    color: rgb(93, 88, 88);
    padding: 5px;
    height: 20px;
    width: auto;
    border-radius: 4px;
    margin-top: 5px;
}

/*mettre le bouton en surbrillance*/
.btn:hover {
    background-color: rgb(221, 198, 154);
    color: white;
    font-weight: 300;
}

/*dimensionner les logos*/
.images {
    height: 25px;
    width: 25px;
    margin-top: 8px;
}

/*ordonner les logos*/
.logos {
    width: 180px;
    display: flex;
    justify-content: space-around;
}