.container {
    border: 1px solid rgb(229, 229, 229);
    width: 50%;
    height: 28em;
    margin-top: 3%;
    margin-left: 8%;
    border-radius: 4px;
    display: flex;
}

.image {
    height: 100%;
    width: 50%;
}