.wrapper {
    width: 100%;
}

.container {
    width: 88%;
    height: 28em;
    margin-top: 3%;
    margin-left: 10%;
    border-radius: 10px;
    display: flex;
}

.image {
    height: 100%;
    width: 30%;
}

.image:hover {
    cursor: pointer;
}

.info {
    width: 30%;
    padding: 1%;
    color: rgb(93, 88, 88);
    font-weight: 300;
    border: 1px solid rgb(229, 229, 229);
}

.title {
    /* text-align: center; */
    font-size: 22px;
    margin-bottom: 0%;
}

.ref {
    margin-bottom: 4%;
}

.description {
    font-size: 16px;
    height: 300px;
    margin-top: 3%;
}

.theme {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}

.span {
    width: 10%;
}

.cart {
    width: 25%;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;
    color: rgb(93, 88, 88);
    font-weight: 300;
    padding: 1%;
}

.cart_title {
    text-align: left;
    font-size: 20px;
}

.cart_devis {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    font-size: 16px;
    margin-bottom: 3%;
}

.cart_devis input {
    border: 1px solid rgb(209, 209, 209);
    width: 50px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    width: 20%;
    /* height: 100%; */
}

.cart_devis button {
    background-color: rgb(221, 198, 154);
    border: none;
    font-size: 16px;
    color: rgb(85, 85, 85);
    width: 70%;
    text-align: center;
}

.message {
    margin-top: 8%;
    margin-left: 1%;
    height: auto;
}

.error_msg {
    display: flex;
    z-index: 100;
}



/* .popup {
    background-color: white;
    width: 25%;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;
    color: rgb(93, 88, 88);
    font-weight: 300;
    padding: 1%;
} */

.sup_images {
    margin-top: 1%;
    margin-left: 10%;
    width: 26.4%;
    display: flex;
    justify-content: space-between;
}

.sup_image {
    width: 100px;
    height: 100px;
}

.sup_image:hover {
    cursor: pointer;
}