.wrapper {
    height: 490px;
    width: 30%;
    margin: 2% 1% 2% 1%;
}



.image {
    width: 100%;
    height: 430px;
}

.info {
    height: 60px;
    padding: 1%;
    color: rgb(79, 75, 75);
}

.ref {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-size: 13px;
}

.title {
    width: 100%;
    height: 30px;
    font-size: 19px;
    font-weight: 300;
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 96%;
        }

        .image {
            height: 320px;
        }

}